#map {
    height:500px;
    width: 80%;
    margin: auto;
}

hr {
    width: 70%;
    opacity: 40%;
}

.shop-list-item {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.shop-item-icons {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    min-width: 2em;
    justify-content: center;
}

.shop-heart-icon {
    font-size: 2em;
    line-height: 1rem;
}

.coffee-data-line {

    font-weight: 600;
}