.carousel-image {
  height: 200px;
}

.chai-header {
  
  text-transform: uppercase;  
}

.carousel-arrow {
  margin: 10px;
}

#carousel-content > img {
  display: none;  
  object-fit: cover;
  width: 600px; 
  height: 500px;
}

#chai-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.chai-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: auto;  
  
  padding: 5px;
  border: solid;
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 25px;
  border-color: #9d84bd;
  
}

.chai-info:hover {
  border-color: white; 
  background-color: #2f2835;
}

#chai-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chai-info-header {
  color: #a4f8fd;  
}

.chai-info-data {
  color: white;
  margin: 7px;
}

@media (max-width: 500px) {
  .chai-info{
    flex-direction: column;
    width: 90%;
  }

  .chai-info-data {
    margin-left: 0px;
  }

  #chai-info-container {
    grid-template-columns: 1fr;
    justify-content: start;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}