.chai-header {
  
  text-transform: uppercase;  
}

.masonry-img .active {
  transform: scale(1.2);
}


.chai-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: auto;  
  
  padding: 5px;
  border: solid;
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 25px;
  border-color: #9d84bd;
  
}

.chai-info:hover {
  border-color: white; 
  background-color: #2f2835;
}

#chai-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chai-info-header {
  color: #a4f8fd;  
}

.chai-info-data {
  color: white;
  margin: 7px;
}

@media (max-width: 500px) {
  .chai-info{
    flex-direction: column;
    width: 90%;
  }

  .chai-info-data {
    margin-left: 0px;
  }

  #chai-info-container {
    grid-template-columns: 1fr;
    justify-content: start;
  }
}

#masonry-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

.masonry-column {
  display: flex;
  flex-direction: column;
}

.masonry-img {
  width: 20vw;
  min-width: 150px;
  height: auto;
  border-radius: 8px;
  margin: 10px;
}

@media (max-width: 349px) {
  .masonry-img {
    min-width: 290px;
  }
}

.masonry-column {
  margin: 10px 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}