#map {
    height:500px;
    width: 80%;
    margin: auto;
}

hr {
    width: 70%;
    opacity: 40%;
}

.shop-list-item {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}

.shop-item-icons {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    min-width: 2em;
    justify-content: center;
}

.shop-list-item-data {

    display: flex;
    flex-direction: row;
}

.shop-quick-data {
    display: flex;
    gap: 15px;
}

@media (max-width: 500px) {

    .shop-list-item-data {
        flex-direction: column;
    }

    .shop-item-icons {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.coffee-data-line-container {
    display: flex;
    gap: 50px;

    padding: 10px 0;
}



.shop-item-icons > * {
    padding: 5px;
}

.shop-heart-icon {
    font-size: 2em;
    line-height: 1rem;
}

.coffee-data-line {
    width: 100px;
    font-weight: 600;
}

.shop-name {
    font-weight: 600;
    padding: 15px 10px;
    margin: 0;
    font-size: 1.5em;
}